html,body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
   font-family: 'raleway', sans-serif; 
   background-image: linear-gradient(90deg,
   rgba(25, 6, 134, 0.822),
   rgba(26, 158, 219, 0.733)
    ); 
    margin: 0;
    padding: 0;
}

.header {
    height: 100px; 
    background-image: linear-gradient(90deg, 
    rgb(0, 87, 114), #0ea4b8, #0ea4b8, #0ea4b8, rgb(0, 87, 114));

}

.container {
    min-height: 100vh;  
    padding: 10px;
    border: 1px solid red;
} 

.profile-text {
    font-size: 18px;

}

.content {
}

.about-pic1 {
    
    max-width: 60%;
    display: block;
    margin: auto;

}

.fulston-manor{
    max-width: 100%;
    display: block;
    margin: auto;
}

.cpw-pic{
    max-width: 60%;
    display: block;
    margin: auto;

}


.about-content-holder{
    display: flex;
    justify-content: space-evenly;
}


.about-content-holder div {
    border: 1px solid;
    width: 33%;
    padding: 10px;
}

.about-content-holder div:nth-of-type(2) {
    border: 1px solid red;
    margin: 0 10px;
}

.about-content-holder div:nth-of-type(4) {
    border: 1px solid red;
    margin: 0 10px;
}

.port-content-holder{
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    width: 25%;
}

.gallery img {
    max-width: 100%;
}

/* 
.gallery {
     border: 1px solid red; 
    margin: 0 10px;
} */

/* .gallery div{
    border: 1px solid red;
    margin: 0 10px;
}

.gallery-item1{
    border: 1px solid red;
    margin: 0 10px;
} */
.profile-holder img{
    max-width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.contact-holder {
    width: 70%;
    margin: 250px auto;
    border: 1px dotted rgb(197, 12, 12);
    padding: 10px;
}

.contact-text {
    font-size: 30px;

}

.portfolio-content-holder{
    display: flex;
    justify-content: space-evenly;
}


footer {
  
  
    display: flex;
    justify-content: space-evenly;
}  



.footer {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(90deg, 
    rgb(0, 87, 114), #0ea4b8, #0ea4b8, #0ea4b8, rgb(0, 87, 114));
    height: 100px;
    padding-top: 40px;
    
}

footer img{
    height: 4em;
}

footer img :hover{
    color: green;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
}

li a {
    color: white;
    padding-top: 40px;
    display: block;
    text-decoration: none;
    transition: 0.4s ease-in-out;
   
}

li a:hover{
    color: red;
    font-size: 4vh;
    transition: 0.4s ease-in-out;
}

a.active {
    text-decoration: underline;
    color: black;
}


/* media query for Portrait and Landscape for iPad */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
   
    .container {
        min-width: 100%;
    }
    .content {
        margin-top: 50px;
    }

    .profile-holder img{
        max-width: 80%;
    } 

    .about-pic1 {
    
        max-width: 60%;
    }
    
   .fulston-manor{
        max-width: 100%;
    }
    .cpw-pic{
        max-width: 60%;
    
    }

/* media query for Portrait and Landscape for iPhone6/7/8 */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) {

    .content {
        margin-top: 50px;
    }

    .profile-holder img{
        max-width: 80%;
    }

    .about-pic1 {
    
        max-width: 30%;

    }
    .fulston-manor{
    max-width: 20%;
}

.cpw-pic{
    max-width: 60%;

}
  }






















