html,body {
    margin: 0;
    padding: 0;
}
body {
   font-family: 'raleway', sans-serif; 
   background: linear-gradient(90deg,
   rgba(25, 6, 134, 0.822),
   rgba(26, 158, 219, 0.733)
    ); 
    margin: 0;
    padding: 0;
    height:100%;
   
}

.page-wrap{
    width:1000px;
    max-width: 100%;
}

.night{
    background:rgb(5, 4, 20) !important;
    background: red;


}

.night-text{
    color:white !important;
}

/* #popup-background{
    position: fixed;
    z-index: 4;
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    z-index: 3;
    width:500px;
    height:200px;
    margin-right: 5%;
    margin-left: 5%;
    
}

#popup p{
    text-align: center;

} */

#header-pusher{
    height:100px;
}

header {
    height: 100px; 
    background: linear-gradient(90deg, 
    rgb(0, 87, 114), #0ea4b8, #0ea4b8, #0ea4b8, rgb(0, 87, 114));
    position: fixed;
    width:100%;
    transition: ease-in-out 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.4s ease-in-out;
   
}

nav a:hover{
    color: red;
    font-size: 4vh;
}

a.active {
    text-decoration: underline;
    color: black;
}

#toggle {
    cursor: pointer;
}

.profile-pic {
    opacity: 0.5;
}


.profile-pic:hover {
    border: 10px solid red;
    opacity: 1;
}

.gallery-item2 {
    opacity: 0.5;
}

.gallery-item2:hover {
    opacity: 1;
}

.gallery-item4 {
    opacity: 0.5;
}

.gallery-item4:hover {
    opacity: 1;
}


.gallery-item5 {
    opacity: 0.5;
}

.gallery-item5:hover {
    opacity: 1;
}


.gallery-item7 {
    opacity: 0.5;
}

.gallery-item7:hover {
    opacity: 1;
}



.container {
    min-height: 100vh;  
} 

.profile-text {
    /* font-size: 18px; */


}

.content {
}

.about-pic1 {
    
    max-width: 60%;
    display: block;
    margin: auto;

}

.fulston-manor{
    max-width: 100%;
    display: block;
    margin: auto;
}

.cpw-pic{
    max-width: 60%;
    display: block;
    margin: auto;

}


.about-content-holder{
    display: flex;
    justify-content: space-evenly;

}


.about-content-holder div {
    border: 1px solid;
    width: 33%;
    padding: 10px;
}

.about-content-holder div:nth-of-type(2) {
    border: 1px solid red;
    margin: 0 10px;
}

.about-content-holder div:nth-of-type(4) {
    border: 1px solid red;
    margin: 0 10px;
}

.port-content-holder{
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    width: 25%;
}

.gallery img {
    max-width: 100%;
}

/* 
.gallery {
     border: 1px solid red; 
    margin: 0 10px;
} */

/* .gallery div{
    border: 1px solid red;
    margin: 0 10px;
}

.gallery-item1{
    border: 1px solid red;
    margin: 0 10px;
} */
.profile-holder img{
    max-width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

figure{
    margin:0;
    height:300px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-size:2em;
    background:url("IMG_E9306.JPG");
}

#contact-container {
    width: 100%;
    height:500px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    font-size: 30px;
    margin:0;

}

.portfolio-content-holder{
    display: flex;
    justify-content: space-evenly;
}


footer {
  
  
    display: flex;
    justify-content: space-evenly;
}  



.footer {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(90deg, 
    rgb(0, 87, 114), #0ea4b8, #0ea4b8, #0ea4b8, rgb(0, 87, 114));
    height: 100px;
    padding-top: 40px;
    
}

footer img{
    height: 4em;
}

footer img :hover{
    color: green;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
}








/* media query for Portrait and Landscape for iPad */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
   
    .container {
        min-width: 100%;
    }
    .content {
        margin-top: 50px;
    }

    .profile-holder img{
        max-width: 80%;
    } 

    .about-pic1 {
    
        max-width: 60%;
    }

   .fulston-manor{
        max-width: 100%;
    }
    .cpw-pic{
        max-width: 60%;
    
    }

/* media query for Portrait and Landscape for iPhone6/7/8 */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) {

    .content {
        margin-top: 50px;
    }

    .profile-holder img{
        max-width: 80%;
    }

    .about-pic1 {
    
        max-width: 30%;

    }
    .fulston-manor{
    max-width: 20%;
}

.cpw-pic{
    max-width: 60%;

}
  }






















